body{
    padding: 0;
    margin: 0;
    background-color:#f399991c ;
}
.main-div{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titttle{
    display: flex;
    flex-direction: column;
}
.tittle-1{
    display: flex;
    list-style: none;
    font-family: poppins;
}
.tittle-1>li>a{
    text-decoration: none;
    padding: 30px;
    color: black;
}

.profil>a>img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 2px solid rgb(84, 72, 197);
    justify-content: space-between;
}
.name-profil{
    font-family: poppins;
    text-decoration: none;
    color: black;
}
.profil>a{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.main-profil{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* BOOKING BODY */
.booking{
    background-color: #f3999900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.wrapper-booking{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    width: 70%;
    height: 100vh;
    margin-top: 30px;
    justify-content: space-around;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box1{
    width: 550px;
    height: 559px;
}

/* box 2  */
.box2{
    padding-bottom: 20px;
}
.box2-div1{
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}
.main-price{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.price1{
    position: absolute;
    font-size: 11px;
    color: red;
    top: 10px;
    width: 100px;
    margin-right: 97px;
}

.main-tickets{
    font-size:20px ;
}
.filter{
    position: absolute;
    background-color: white;
    border: 2px solid rgba(193, 197, 208, 1);
    width: 38px;
    height: 38px;
    margin-right: 35px;
    border-radius: 7px;
}

.box2-div2{
    display: flex;
    font-family: poppins;
    position: relative;
    padding-bottom: 40px;
}
.box2-img{
    background-color: #F1EAFF;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.img-box2{
    position: absolute;
    width: 21px;
    height: 21px;
    margin-left: 12px;
    margin-top:12px ;
}
.box2-span1{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 70px;
}
.span1-1{
    font-size: 15px;
}
.span1-2{
    font-size: 10px;
    opacity: 60%;
    margin-bottom: 20px;
}
.span1-3{
    font-size: 15px;
}
.main-range{
    display: flex;
    align-items: center;
}
.box-min{
    width: 35px;
    height: 35px;
    background-color:white;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid rgba(193, 197, 208, 1);
}
.box-plus{
    width: 35px;
    height: 35px;
    background-color: white;
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid rgba(193, 197, 208, 1);
}
.img10{
    position: absolute;
    top: 78px;
    right: 101px;
}
.img20{
    position: absolute;
    top: 70px;
    right: 10px;
}
.img30{
    position: absolute;
    top:78px;
    right: 103px;
}
.img40{
    position: absolute;
    top: 70px;
    right: 13px;
}
.img50{
    position: absolute;
    top:76px;
    right: 103px;
}
.img60{
    position: absolute;
    top: 68px;
    right: 12px;
}
.box2-span3{
    display:flex;
    flex-direction:column;
    justify-content: end;
    align-items: end;
}

.box2-div3{
    display: flex;
    font-family: poppins;
    position: relative;
    padding-bottom: 40px;
}
.box2-img2{
    background-color: #F1EAFF;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.img-box3{
    position: absolute;
    width: 21px;
    height: 21px;
    margin-left: 12px;
    margin-top:12px ;
}
.box2-span4{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 70px;
}
.span2-1{
    font-size: 15px;
}
.span2-2{
    font-size: 10px;
    opacity: 60%;
    margin-bottom: 20px;
}
.span2-3{
    font-size: 15px;
}
.box2-span5{
    display:flex;
    flex-direction:column;
    justify-content: end;
    align-items: end;
}

.box2-div4{
    display: flex;
    font-family: poppins;
    position: relative;
    padding-bottom: 40px;
}
.box2-img3{
    background-color: #F1EAFF;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.img-box4{
    position: absolute;
    width: 21px;
    height: 21px;
    margin-left: 12px;
    margin-top:12px ;
}
.box2-span6{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 70px;
}
.span3-1{
    font-size: 14px;
}
.span3-2{
    font-size: 10px;
    opacity: 60%;
    margin-bottom: 20px;
}
.span3-3{
    font-size: 15px;
}
.box2-span7{
    display:flex;
    flex-direction:column;
    justify-content: end;
    align-items: end;
}



.ticket1{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.ticket1>div{
    font-family: poppins;
    font-size: 15px;
}
.vip{
    color: #3366FF;
}

.qty{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.qty>span{
    font-family: poppins;
    font-size: 15px;
}
.number{
    color: #3366FF;
}

.pay{
    display: flex;
    justify-content: space-between;
    padding-top:20px ;
}
.pay>span{
    font-family: poppins;
    font-size: 15px;
}
.pay1{
    color: #3366FF;
}


.main-button{
    position: relative;
    margin-top: 50px;
    width: 300px;
}

.button{
    position: absolute;
    background-color: #ff5d5d;
    width: 270px;
    height:50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-size: 15px;
    box-shadow: 0px 8px 10px #f3999965;
}
.button:hover{
    position: absolute;
    background-color: #ff5d5de7;
    width: 270px;
    height:50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-size: 15px;
    box-shadow: 0px 8px 10px #f3999965;
}
/* footer */
.flex-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: #f3999900;
}
.flex-container>div{
    margin: 100px;
}
.main-container>div{
    font-family: poppins;
    width: 260px;
}
.child-cont>a{
    text-decoration: none;
    color: black;
    font-family: poppins;
    opacity: 80%;
}
.sosmed{
    /* justify-content: start; */
    display: flex;
    align-items: center;
}
.sosmed>a{
    padding: 10px;
    margin-top: 10px;
}

/* copyright */
.cp>p{
    font-family: poppins;
    opacity: 70%;
    margin-left: 360px;
    margin-bottom: 50px;
    font-size: 18px;
    /* background-color:#F4F7FF; */
}
