/* body */
body {
    display: flex;
    margin: 0;
    padding: 0;
}

/* section1 1 */
#section1 {
    width: 130vh;
    height: 100vh;
    background-color: #748DA6;
}

.main-img {
    position: relative;
    display: flex;
}

.img-sec1 {
    position: absolute;
    top: 300px;
    margin-left: 607px;
}

.img-sec1-2 {
    position: absolute;
    top: 220px;
    margin-left: 326px;
}

.linear1 {
    background-color: black;
    width: 510px;
    height: 280px;
    position: absolute;
    top: 420px;
    left: 350px;
    background: linear-gradient(180deg, #ffffff00 10%, #748DA6 65.85%);
}


/* section 2 */
#section2 {
    margin-left: auto;
    margin-right: auto;
}

.main-div1 {
    position: relative;
    top: 165px;
    font-family: poppins;
}

.img-sec2 {
    position: absolute;
    width: 80px;
}

.h1-sec2 {
    position: absolute;
    margin-left: 85px;
    margin-top: 23px;
    font-size: 25px;
    opacity: 70%;
}

.main-div2 {
    position: relative;
    top: 265px;
    margin-left: 10px;
    font-family: poppins;
    font-size: 15px;
}

.mian-anchor {
    text-decoration: none;
    color: blue;

}

.main-div3 {
    display: flex;
    flex-direction: column;
    top: 260px;
    position: relative;
    margin-top: 35px;
}

.input1 {
    margin: 10px;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid grey;
    opacity: 80%;
    padding-left: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.input2 {
    margin: 10px;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid grey;
    opacity: 80%;
    padding-left: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.input3 {
    margin: 10px;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid grey;
    opacity: 80%;
    padding-left: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.input4 {
    margin: 10px;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid grey;
    opacity: 80%;
    padding-left: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}


.main-div4 {
    position: relative;
    top: 270px;
    margin-left: 13px;
    font-family: poppins;
    font-size: 15px;
}


.my-button {
    position: absolute;
    top: 730px;
    background-color: #748DA6;
    text-decoration: none;
    width: 274px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    margin-left: 10px;
    border-radius: 15px;
    color: white;
    font-family: poppins;
    font-size: 15px;
    box-shadow: 3px 5px 20px #748DA6;
}

.my-button:hover {
    position: absolute;
    top: 730px;
    background-color: #748da6d0;
    text-decoration: none;
    width: 274px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    margin-left: 10px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.952);
    font-family: poppins;
    font-size: 15px;
    box-shadow: 3px 5px 20px #748DA6;
}

@media screen and (max-width: 762px) {
    #section1 {
      display: none;
    }
  }